body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(212, 209, 209);
}
/* navbar */

.navbar {
  margin: 0;
  display: flex;
  background-color: green;
  align-items: center;
  justify-content: space-between;
}
.more-component-toggle-btn {
  background: none;
  border: none;
  font-size: larger;
}
.aboutus {
  display: inline-block;
  margin: 0 20px;
}
/* weather component */
.city,
.weather-icon,
.weather-temp {
  display: inline-block;
  width: 75px;
}

/* more component */
.more {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  border-bottom: 4px solid black;
}

.searchbar-input {
  margin: 0 20px;
}
.categories * {
  display: block;
  text-align: center;
}
/* articles */
.articles-anchor {
  text-decoration: none !important;
}
.articles-container {
  margin: 1rem;
  padding: 10px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-decoration: none;
  grid-gap: 1.5rem;
  color: black;
}
.articles {
  padding: 18px;
  border: 1px solid black;
  border-radius: 5px;
  text-decoration: none;
  color: black;
  box-shadow: 3px 4px 3px black;
}
.articles:hover {
  background-color: #333;
  color: white;
}
.articles-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  margin-bottom: 20px;
  margin-top: 20px;
  width: 350px;
}

/* single-article */

.article-text {
  font-size: large;
}
.article-url {
  text-decoration: none;
}
.article-img {
  display: block;
  margin: 1rem auto 1rem auto;
  width: 100%;
  border-radius: 5px;
}
.searched-article {
  margin: 1rem;
  padding: 10px;
  box-sizing: border-box;
}
/* headline-news */
.headline-news-container {
  margin: auto;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(2, minmax(200px, 1fr));
  text-decoration: none;
  grid-gap: 1.5rem;
  color: black;
}
.headline-news {
  background-color: white;
  padding: 18px;
  border: 1px solid black;
  border-radius: 5px;
  text-decoration: none;
  color: black;
}

.headline-news:hover {
  background-color: whitesmoke;
  color: black;
  box-shadow: 3px 4px 3px black;
}
.headline-source-name {
  text-align: end;
}
.headline-title {
  margin-bottom: 20px;
  text-decoration: none;
}
.headline-img {
  min-width: 150px;
  max-width: 350px;
  display: block;
  margin: 1rem auto 1rem auto;
  border-radius: 5px;
}
.headline-text {
  margin-bottom: 8px;
}
.headline-news-anchor {
  text-decoration: none !important;
}
/* headline-new */
.news {
  margin: 1rem;
  padding: 10px;
  box-sizing: border-box;
}
.news-img {
  display: block;
  border-radius: 5px;
  margin: 1rem auto;
  width: 800px;
}

.news-text {
  font-size: large;
}
.news-url {
  text-decoration: none;
}
footer {
  display: block;
  text-align: center;
}
